@font-face {
  font-family: 'iconfont';
  /* project id 1764015 */
  src: url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.eot');
  src: url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.woff2') format('woff2'), url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.woff') format('woff'), url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.ttf') format('truetype'), url('//at.alicdn.com/t/font_1764015_9c8mtedpjbu.svg#iconfont') format('svg');
}
.tab-head {
  background: #d44439;
  padding-bottom: 10px;
}
.head {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
}
.head span {
  color: #f1f1f1;
  font-size: 20px;
  line-height: 40px;
}
.head span i {
  font-size: 20px;
}
.tab {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
}
.tab a {
  flex: 1;
  text-align: center;
}
.select {
  width: 30%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  margin-top: 3px;
  padding-bottom: 2px;
  content: '';
  transform: translate(10%, 0);
  transition: 0.3s ease-in-out;
}
