.album-list {
  padding: 1rem;
  margin-top: 2rem;
  background: white;
  border-radius: 1rem;
  height: 60%;
  overflow: hidden;
}
.album-list .album-listhead {
  width: 100%;
  margin-bottom: 0.4rem;
}
.album-list .album-listhead p {
  text-align: center;
  font-size: 1.5rem;
  color: #b86767;
}
.album-list .album-listhead p i {
  font-size: 1.5rem;
}
.album-list .list-item {
  height: 100%;
  overflow-y: scroll;
}
.album-list .list-item .item {
  display: flex;
  height: 4rem;
  align-items: center;
}
.album-list .list-item .item .number {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.album-list .list-item .item .content {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #a19797;
}
.album-list .list-item .item .content .title {
  font-size: 1.1rem;
}
.album-list .list-item .item .content .singer {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  color: #837c7c;
}
